.a{
border: groove;
margin-top: 180px;
margin-right: 400px;
margin-bottom: 180px;
margin-left: 450px;
border-radius: 10px;
height: 400px;
width: 600px;
background-color: white;
}
body{
    background-color: lightgray;
}
.b{
    border: solid;
    height: 200px;
    margin-left:200px ;
    margin-right: 200px;
    border-radius: 100%;
    background-image: url("rgs.jpg");
    background-size: 100%;
    margin-top: 40px;
}
.c{
    margin-left: 250px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 120%;
    color: blue;
}
.d{
    font-size: large;
    margin-left: 80px;
    margin-top: 20px;
}
.e{
    font-size: large;
    margin-left: 90px;
    margin-top: 10px;
}